a {
  outline: none; }

@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 14px;
    height: auto;
    margin-left: 0 !important; }
  .navbar .navbar-right {
    margin-right: 0; } }
.modal .modal-header {
  border: none; }
.modal .alert {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none; }

.form-inline .form-control {
  width: auto; }

.bysaobienweb {
  padding: 10px 0; }
  .bysaobienweb > .container > p:last-child {
    margin-bottom: 0; }

.clearboth {
  clear: both; }

.inline {
  display: inline-block; }

.relative {
  position: relative !important; }

.swiper-container-fullscreen img {
  width: 100%; }

.nav-img {
  height: 78px;
  margin-bottom: 0;
  overflow: hidden; }
  .nav-img img {
    margin: 10px 20px;
    height: 58px;
    display: inline-block; }

.two-action .btn, .two-action a.btn {
  margin-bottom: 20px; }

.nav-right {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1030; }

iframe {
  max-width: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }
  body .btn, body .form-control {
    font-size: 16px; }

.col-md-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.img-rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.img-center {
  margin: 0 auto; }

.navbar-toggle {
  margin-right: 0; }

.navbar {
  min-height: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

@media (min-width: 992px) {
  .col-md-1-5 {
    float: left; }

  .col-md-1-5 {
    width: 20%; } }
div[class^=swiper-container] {
  position: relative; }

.getleads, .multifour {
  font-size: 16px;
  line-height: 1.42857143;
  color: #69696E;
  font-weight: 400;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.getleads .m-b-30 {
  margin-bottom: 30px; }
.getleads .m-b-20 {
  margin-bottom: 20px; }
.getleads .m-t-15 {
  margin-top: 15px; }
.getleads .m-t-5 {
  margin-top: 5px; }
.getleads .m-t-20 {
  margin-top: 20px; }
.getleads .m-b-0-i {
  margin-bottom: 0 !important; }
.getleads .navbar {
  padding-left: 15px;
  padding-right: 15px; }
.getleads .subscription .form-horizontal.form-bg {
  padding-top: 10px; }
.getleads .hero-leadbox .form-horizontal {
  padding-top: 15px; }
  .getleads .hero-leadbox .form-horizontal input, .getleads .hero-leadbox .form-horizontal textarea {
    padding-top: 10px;
    padding-bottom: 10px; }
.getleads .hero .form-inline.double-input input {
  padding-top: 10px;
  padding-bottom: 10px; }
.getleads .pricing-3po .info {
  padding-top: 10px;
  padding-bottom: 10px; }
  .getleads .pricing-3po .info .price {
    padding-bottom: 0;
    padding-top: 0; }
    .getleads .pricing-3po .info .price .currency {
      font-size: 16px; }
.getleads .testimonials .quote-border p {
  margin-bottom: 10px; }
.getleads blockquote {
  line-height: inherit; }
.getleads .navbar-collapse {
  padding-left: 0;
  padding-right: 0; }
.getleads .section-header {
  margin-bottom: 30px; }
.getleads p {
  margin-bottom: 5px; }
.getleads img {
  max-width: 100%; }
.getleads h1, .getleads .h1 {
  font-size: 50px;
  line-height: 1.2; }
.getleads h2, .getleads .h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42857143 !important; }
.getleads h3, .getleads .h3 {
  font-size: 30px;
  line-height: 1.42857143 !important; }
.getleads h4, .getleads .h4 {
  line-height: 1.42857143 !important; }
.getleads h5, .getleads .h5 {
  line-height: 1.42857143 !important; }
.getleads p {
  line-height: 1.42857143 !important; }
.getleads .lead {
  line-height: 1.42857143 !important; }
.getleads .overlay {
  background: rgba(51, 51, 51, 0.3); }
.getleads .team .role {
  text-transform: none; }
.getleads .mini-map > iframe {
  width: 100%;
  height: 300px; }
.getleads .portfolio-grid {
  margin-left: -5px;
  margin-right: -5px; }
  .getleads .portfolio-grid li {
    padding: 0 5px; }
    @media (max-width: 767px) {
      .getleads .portfolio-grid li {
        margin-bottom: 10px; } }
    @media (max-width: 767px) {
      .getleads .portfolio-grid li:last-child {
        margin-bottom: 0; } }
.getleads .portfolio-grid img:hover, .getleads figure img:hover {
  cursor: zoom-in; }
.getleads .map-container > iframe, .getleads .img-wrap > iframe {
  border: 0;
  pointer-events: auto;
  height: 100%;
  width: 100%; }
.getleads .clients img {
  margin-top: 0; }
.getleads .features-block p {
  margin-bottom: 10px; }
.getleads .features-block h5 {
  margin-left: 150px; }
.getleads #funfacts1-1-a .text {
  line-height: initial; }
.getleads #funfacts1-1-a .counter-left i {
  font-style: normal;
  color: #fff;
  font-size: 26px; }
@media only screen and (max-width: 991px) {
  .getleads .content-block {
    text-align: center; }
  .getleads .c4 .col-md-1-5:nth-child(4) {
    margin-bottom: 30px; }
  .getleads #funfacts1-1-a .counter-left {
    float: left; }
    .getleads #funfacts1-1-a .counter-left i {
      float: left; }
    .getleads #funfacts1-1-a .counter-left .counter {
      margin-right: 5px; }
  .getleads #funfacts1-1-a .text.text-left.text-edit {
    margin-top: 0; } }

.multifour .m-t-30 {
  margin-top: 30px; }
.multifour .new-row-md {
  margin-top: 40px; }
.multifour .p-margin-bottom-0 p {
  margin-bottom: 0; }
.multifour .p-15 {
  padding: 15px; }
.multifour .p-20 {
  padding: 20px; }
.multifour section {
  border-bottom: none; }
.multifour .item-list-right h3, .multifour .item-list-left h3, .multifour .item-list-center h3 {
  margin-bottom: 15px; }
.multifour .item-list-right li .icon, .multifour .item-list-left li .icon {
  width: 55px; }
.multifour .item-list-left li {
  padding-right: 0;
  padding-bottom: 0; }
.multifour .item-list-left > li > img {
  max-width: 55px; }
.multifour section[id^=faq] ul {
  list-style: inside; }
.multifour .post h4 {
  margin-top: 0; }
.multifour a.panel-heading {
  padding-top: 10px;
  padding-bottom: 10px; }
  .multifour a.panel-heading:after {
    top: 20px; }
  .multifour a.panel-heading.collapsed:after {
    top: 15px; }
.multifour .panel-body {
  padding-top: 10px;
  padding-bottom: 0; }
.multifour .panel-collapse {
  margin-bottom: 0; }
.multifour h1 {
  font-size: 50px;
  line-height: 1.2; }
.multifour h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42857143 !important; }
.multifour h3 {
  font-size: 30px;
  line-height: 1.42857143 !important; }
.multifour h4 {
  line-height: 1.42857143 !important; }
.multifour h5 {
  line-height: 1.42857143 !important; }

/*# sourceMappingURL=custom.css.map */
